form input[type='text'], form input[type='email'], form input[type='password']{

    border:none;
    outline:none;
    line-height: 20px;

}

form input[type='text']:focus::placeholder, form input[type='email']:focus::placeholder, form input[type='password']:focus::placeholder{

    background-color: plum;
    padding:1px 2px 1px 2px;

}
form input[type='text']:focus, form input[type='email']:focus, form input[type='password']:focus{

    background-color: plum;
    padding:1px 2px 1px 2px;

}